@{
    ViewData["Title"] = "Login Page";
}

<body>
    <div class="container-lg shadow p-3 mb-5 mt-5 w-50 bg-white rounded">
        <h2>@ViewData["Title"]</h2>

        <form id="loginForm" method="post" asp-action="Login">

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" name="Email" id="Email" class="form-control" placeholder="Email" />
                <span class="text-danger" id="emailError"></span>
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" />
                <span class="text-danger" id="passwordError"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Login</button>
            <p>If you don't have an account? <a href="/Home/Register">Register</a></p>
        </form>
    </div>
</body>